<?xml version="1.0"?>
<config>
    <modules>
        <PostFinance_Payment>
            <version>2.0.0</version>
        </PostFinance_Payment>
    </modules>
    <global>
        <helpers>
            <postfinance>
                <class>PostFinance_Payment_Helper</class>
            </postfinance>
        </helpers>
        <models>
            <postfinance>
                <class>PostFinance_Payment_Model</class>
            </postfinance>
        </models>
        <blocks>
            <postfinance>
                <class>PostFinance_Payment_Block</class>
            </postfinance>
        </blocks>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <postfinance_observer>
                        <type>singleton</type> 
                        <class>postfinance/observer</class>
                        <method>checkoutTypeOnepageSaveOrderBefore</method>
                    </postfinance_observer>
                </observers> 
            </checkout_type_onepage_save_order>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <postfinance_observer>
                        <type>singleton</type> 
                        <class>postfinance/observer</class>
                        <method>salesModelServiceQuoteSubmitFailure</method>
                    </postfinance_observer>
                </observers> 
            </sales_model_service_quote_submit_failure>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <postfinance_observer>
                        <type>singleton</type> 
                        <class>postfinance/observer</class>
                        <method>checkoutTypeOnepageSaveOrderAfter</method>
                    </postfinance_observer>
                </observers> 
            </checkout_type_onepage_save_order_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <postfinance_observer>
                        <type>singleton</type> 
                        <class>postfinance/observer</class>
                        <method>salesModelServiceQuoteSubmitSuccess</method>
                    </postfinance_observer>
                </observers> 
            </sales_model_service_quote_submit_success>
        </events>
        <resources>
            <!-- initialize sql upgrade setup -->
            <postfinance_setup>
                <setup>
                    <module>PostFinance_Payment</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </postfinance_setup>
        </resources>        
    </global>
    <adminhtml>
        <layout>
            <updates>
                <postfinance>
                    <file>postfinance/payment.xml</file>
                </postfinance>
            </updates>
        </layout>
        <translate>
            <modules>
                <PostFinance_Payment>
                    <files>
                        <default>PostFinance_Payment.csv</default>
                    </files>
                </PostFinance_Payment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <postfinance>
                    <file>postfinance/payment.xml</file>
                </postfinance>
            </updates>
        </layout>
        <secure_url>
            <postfinance_api>/postfinance/api</postfinance_api>
        </secure_url>
        <routers>
            <postfinance>
                <use>standard</use>
                <args>
                    <module>PostFinance_Payment</module>
                    <frontName>postfinance</frontName>
                </args>
            </postfinance>
        </routers>
        <translate>
            <modules>
                <PostFinance_Payment>
                    <files>
                        <default>PostFinance_Payment.csv</default>
                    </files> 
                </PostFinance_Payment>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment_services>
            <postfinance>
                 <model>postfinance/payment_abstract</model>
                 <title>PostFinance</title>
                 <secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                 <payment_action>authorize</payment_action>
                 <template>postfinance</template>
                 <postfinance_gateway>https://e-payment.postfinance.ch/ncol/test/orderstandard_utf8.asp</postfinance_gateway>
                 <postfinance_alias_gateway>https://e-payment.postfinance.ch/ncol/test/alias_gateway_utf8.asp</postfinance_alias_gateway>
                 <frontend_gateway>https://e-payment.postfinance.ch/ncol/test/orderstandard_utf8.asp</frontend_gateway>
                 <directlink_gateway>https://e-payment.postfinance.ch/ncol/test/maintenancedirect.asp</directlink_gateway>
                 <directlink_gateway_order>https://e-payment.postfinance.ch/ncol/test/orderdirect.asp</directlink_gateway_order>
                 <showcatalogbutton>1</showcatalogbutton>
                 <showhomebutton>1</showhomebutton>
            </postfinance>
        </payment_services>
        <payment>
            <postfinance_cc>
                <title>Credit Cards (via PostFinance)</title>
                <model>postfinance/payment_cc</model>
                <enabled_3dsecure>0</enabled_3dsecure>
            </postfinance_cc>
            <postfinance_efinance>
                <title>PostFinance EFinance</title>
                <model>postfinance/payment_efinance</model>
            </postfinance_efinance>
        </payment>
    </default>
</config>
